<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Expenses</title>
</head>

<body>

{% for expense in expenses %}
    <p>{{ expense.name }}</p>
    <p>{{ expense.cost }}</p>
    <p>{{ expense.category }}</p>
{% endfor %}

<button id="add_expense_button" class="btn" onclick="window.location.href='{% url 'add_expense' %}'">
    Добавить трату
</button>
</body>

</html>
